.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-72 { font-size: 72px; }
.material-icons.opacity-75 { opacity: 0.5 }

//Stuff
ul {
  padding: 0;
}
h1,h2,h3 {
  margin: 0;
}
