.workoutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media #{$tablet} {
    align-items: flex-start;
  }
  padding: 10px;
}

.woTopRow {
  display: flex;
  flex-direction: column;
  @media #{$tablet} {
    flex-direction: row;
  }
  margin-bottom: 25px;
  .woDashboard {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    @media #{$tablet} {
      flex-direction: row;
      margin-top: 0;
    }
    .woStats {
      display: none;
      @media #{$tablet} {
        display: flex;
        flex-wrap: wrap;
         .dbData {
          @include borderRadius(3px);
          @include boxShadow(1);
          margin: 5px;
          padding: 10px;
          height: 210px;
          text-align: center;
          .dataTitle {
          }
        }
        .lineChart {
          display: none;
          @media #{$desktop} {
            display: inline-block;
          }
          width: 800px;
          canvas {
            width: 100% !important;
            max-width: 800px;
            height: 160px !important;
          }
        }
      }
    }
  }
}

.woCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .aCard {
    list-style: none;
    @include borderRadius(3px);
    @include boxShadow(1);
    margin: 10px;
    padding: 10px;
    background: $cardColor;
    min-width: 270px;
    max-width: 350px;
    flex: 1;
    div {
      display: flex;
      align-items: center;
    }
    .woActivity, 
    .woLocation {
      flex: 1;
    }
  }
}

