.workoutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media #{$tablet} {
    align-items: flex-start;
  }
}

.woTopRow {
  display: flex;
  flex-direction: column;
  @media #{$tablet} {
    flex-direction: row;
  }
  .woDashboard {
    display: flex;
    flex-direction: column;
    @media #{$tablet} {
      flex-direction: row;
    }
    .woStats {
      display: none;
      @media #{$tablet} {
        display: flex;
        .dbData {
          @include borderRadius(3px);
          @include boxShadow(1);
          margin: 5px;
          padding: 10px;
          height: 210px;
          text-align: center;
          .dataTitle {
          }
        }
        .lineChart {
          width: 800px;
          canvas {
              width: 100% !important;
              max-width: 800px;
              height: 160px !important;
          }
        }
      }
    }
  }
}

.woCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  li {
    list-style: none;

    .aCard {
      @include borderRadius(3px);
      @include boxShadow(1);
      margin: 10px;
      padding: 10px;
      background: #607D8B;
      width: 270px;
      div {
        display: flex;
        align-items: center;
      }
      .woActivity, 
      .woLocation {
        flex: 1;
      }
    }
  }
}

