<div class="weighingsPage">
  <div class="weTopRow">
    <form class="weightForm">
      <div class="inputGroup inputWDate">
        <input type="text" required>
        <button class="mawaBtn" type="button"><i class="material-icons">today</i></button>
        <div class="bottomBar"></div>
        <label>Date</label>
      </div>
      <div class="inputGroup">
        <input type="text" required>
        <div class="bottomBar"></div>
        <label>Weight</label>
      </div>
      <div class="inputGroup">
        <input type="text" required>
        <div class="bottomBar"></div>
        <label>BF</label>
      </div>
      <div class="inputGroup">
        <input type="text" required>
        <div class="bottomBar"></div>
        <label>Muscle</label>
      </div>
      <div class="inputGroup">
        <input type="text" required>
        <div class="bottomBar"></div>
        <label>Water</label>
      </div>
      <div class="inputGroup">
        <input type="text" required>
        <div class="bottomBar"></div>
        <label>Bones</label>
      </div>
      <button class="mawaBtn">Save</button>
    </form>
    <div class="weDashboard">
    </div>
  </div>
  <div class="weListings">
    <ul>
      <li ng-repeat="weigh in userData.weighs">
        {{weigh.theWeighDate}} - {{weigh.theWeigh}}
      </li>
    </ul>
  </div>
</div>