<div class="workoutPage">
  <div>
    <form class="workoutForm">
      <div class="inputGroup">
        <input type="text" ng-model="theDate" required>
        <div class="bottomBar"></div>
        <label>Date</label>
      </div>
      <div class="inputGroup">
        <input type="text" ng-model="theActivity" required>
        <div class="bottomBar"></div>
        <label>Activity</label>
      </div>
      <div class="inputGroup">
        <input type="text" ng-model="theLocation" required>
        <div class="bottomBar"></div>
        <label>Location</label>
      </div>
      <div class="inputGroup">
        <input type="text" ng-model="theDuration" required>
        <div class="bottomBar"></div>
        <label>Duration</label>
      </div>
      <div class="inputGroup">
        <textarea ng-model="theComment" required></textarea>
        <div class="bottomBar"></div>
        <label>Comment</label>
      </div>
      <button class="workoutBtn" ng-click="addWorkout()">Save</button>
    </form>
  </div>
  <div class="woListings">
    <div class="woDashboard">
      <div class="inputGroup">
        <input type="text" required>
        <div class="bottomBar"></div>
        <label>From</label>
      </div>
      <div class="inputGroup">
        <input type="text" required>
        <div class="bottomBar"></div>
        <label>To</label>
      </div>
      <div class="inputGroup">
        <input type="text" ng-model="filterActivity" required>
        <div class="bottomBar"></div>
        <label>Activity</label>
      </div>
      <div class="inputGroup">
        <input type="text" ng-model="filterLocation" required>
        <div class="bottomBar"></div>
        <label>Location</label>
      </div>
    </div>
    <div class="woCards">
      <ul>
        <li ng-repeat="workout in userData.workouts | filter: {theActivity: filterActivity, theLocation: filterLocation} | orderBy:'-theDate'">
          <div class="aCard">
            <div>
              <span class="woActivity"><h2>{{workout.theActivity}}</h2></span>
              <span class="woDuration">{{workout.theDuration}}</span>
            </div>
            <div>
              <span class="woLocation">{{workout.theLocation}}</span>
              <span>{{workout.theDate}}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<section>
  <pre>{{userData.workouts | json}}</pre>
</section>